@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/wriper/wriper.css);
@import url(../blocks/header/__navigation/navigation.css);
@import url(../blocks/header/__navigation/__menu/navigation__menu.css);
@import url(../blocks/header/__navigation/__menu/navigation__menu__logo.css);
@import url(../blocks/header/__navigation/__menu/navigation__menu__main.css);
@import url(../blocks/header/__navigation/__menu/navigation__menu__icon.css);
@import url(../blocks/header/__navigation/__menu/navigation__menu__burger.css);
@import url(../blocks/connection/connection.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__banner-section/banner-section.css);
@import url(../blocks/main/main.css);
@import url(../blocks/main/swiper-bundle.min.css);
@import url(../blocks/formorder/formorder.css);
@import url(../blocks/formorder/__button/formorder__button.css);
@import url(../blocks/modal/modal__pagehome.css);
@import url(../blocks/footer/footer.css);