.manifest__section-line {
width: 100%;
  margin: 0 auto;
  font-family: 'Yusei Magic', sans-serif;
  font-weight: bold;
  font-size: clamp(1rem, 3vw + 0.5rem, 2.5rem);
  line-height: 1.5;
  text-align: center;
  color: #f5faff;
  text-shadow:
    0 0 2px #00ccff,
    0 0 4px #00ccff,
    0 0 8px #00ccff,
    0 0 16px #00ccff;
  margin-top: clamp(15vh, 20vw, 25vh);
  padding-inline: clamp(1rem, 4vw, 3rem);
}

@media screen and (max-width: 820px) {
  .manifest__section-line {
    font-size: clamp(1.1rem, 3vw + 0.4rem, 2.2rem);
    margin-top: clamp(12vh, 15vw, 20vh);
  }
}

@media screen and (max-width: 640px) {
  .manifest__section-line {
    font-size: clamp(1rem, 5vw + 0.3rem, 2rem);
     margin-top: clamp(25vh, 27vw, 28vh);
  }
}

@media screen and (max-width: 425px) {
  .manifest__section-line {
    font-size: clamp(1rem, 6vw + 0.3rem, 1.6rem);
    margin-top: clamp(12vh, 14vw, 15vh);
    line-height: 1.8;
  }
}

@media screen and (max-width: 320px) {
  .manifest__section-line {
    font-size: clamp(0.9rem, 7vw, 1.3rem);
  }
}
