.scroller__content {
  display: flex;
  position: relative;
  width: 99%;
  height: auto;
  margin: 0 auto;
  flex-direction: column;
  
}
.scroller__content h1 {
font-size: calc(100vw / 30);
margin-top: 6%;
font-weight: bold;
}
.scroller__content-hide{
transition: -webkit-transform 1s linear;
-o-transition: transform 1s linear;
transition: transform 1s linear;
transition: transform 1s linear, -webkit-transform 1s linear;
-webkit-transition: -webkit-transform 1s linear;
}
.scroller__content-hide.scaleminus {
transform: scale(0.1);
opacity: 0;
}

@media screen and (max-width: 425px) {
.scroller__content {
font-size: calc(100vw / 6);
margin-top: 0%;}
.scroller__content h1 {
font-size: calc(100vw / 15);
margin-top: 20%;
}
}
@media screen and (max-width: 320px) {
.scroller__content h1 {
margin-top: -20%;

}
}