.scroller__section {
 width: 100vw;
 min-height:100vh;
 display: -webkit-box;
 display: flex;
 -webkit-box-pack: center;
 justify-content: center;
 scroll-snap-align: start;
 scroll-snap-stop: always;
 align-items: center;
 z-index: 0;
 flex-direction: column;
        }
