.navigation__menu__burger {
  place-items: center;
 /*width: 20px;
 height: 20px; */
 border-radius: 50%;
 width: 46px;
 height: 46px;
 background-color: #4039A1; 
 display: none;
}

.burger,
.burger:before {
 width: 20px;
 height: 2px;
 border-radius: 2px;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.burger:after {
 width: 20px;
 height: 2px;
 border-radius: 2px;
}
.burger {
  position: relative;
 
  background: #FFFFFF;
  -webkit-transition: all 0ms 300ms;
  -o-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}
.burger.animate {
  background: rgba(255, 255, 255, 0);
}

.burger:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  background: #FFFFFF;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger:after {
  content: "";
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 5px;
  background: #FFFFFF;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
@media screen and (max-width: 1020px) {
.navigation__menu__burger {
 display: -ms-grid;
 display: grid;
 position: relative;
 left: 5%;
}	
} 
@media screen and (max-width: 768px) {
.navigation__menu__burger {
 display: -ms-grid;
 display: grid;
 position: relative;
 left: 5%;
}

@media screen and (max-width: 760px) {
.navigation__menu__burger {
 left: 0.5%;
}
@media screen and (max-width: 708px) {
.navigation__menu__burger {
 left: -0.5%;
}
@media screen and (max-width: 700px) {
.navigation__menu__burger {
 position: absolute;
 left: 65%;
}
}
@media screen and (max-width: 516px) {
.navigation__menu__burger {
 left: 70%;
}
}
@media screen and (max-width: 425px) {
.navigation__menu__burger {
 width: 46px;
 height: 46px;
}
}
@media screen and (max-width: 360px) {

.navigation__menu__burger { 
 position: absolute;
 left: 82vmin;
}
}