
.navigation__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  column-gap: 1%;
  height: 47px;
  width: auto;
  top: 17px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 1920px) {
.navigation__menu {
  height: 47px;
  max-width: 1800px;
  top: 17px;
 
}
@media screen and (max-width: 768px) {
.navigation__menu {
 height: 47px;
 max-width: 728px;
 top: 9px;
 
}
}
@media screen and (max-width: 425px) {
.navigation__menu {
 height: 46px;
 column-gap: 30%;
 max-width: 380px;
 top: 4px;
 
}
@media screen and (max-width: 360px) {
.navigation__menu {
 height: 46px;
 
 max-width: 320px;
 top: 4px;
 
}
}