.connection,
.connection_good {
  position: fixed;
  width: 10vmin;
  height: 5vmax;
  right: .5vmin;
  bottom: 2vmin;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  opacity: 0.8;
  z-index: 1002;
  cursor: pointer;
  filter: blur(0.01em);
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  animation: blurFade 0.8s ease-in-out, blurRotate 0.8s ease-in-out;
}

/* Иконки */
.connection {
  background-image: url(/images/connection.svg);
}
.connection_good {
  background-image: url(/images/good.svg);
}

/* Hover-эффекты */
.connection:hover,
.connection:focus,
.connection_good:hover,
.connection_good:focus {
  opacity: 1;
  transform: scale(1.05);
  filter: blur(0);
}

/* Анимации */
@keyframes blurFade {
  0% {
    opacity: 0;
    filter: blur(2em);
    transform: scale(0.8);
  }
  50% {
    opacity: 0.5;
    filter: blur(0.5em);
    transform: scale(1.02);
  }
  100% {
    opacity: 0.8;
    filter: blur(0.01em);
    transform: scale(1);
  }
}

@keyframes blurRotate {
  0% {
    filter: blur(2em);
  }
  100% {
    filter: blur(0.01em);
  }
}

/* Адаптив */
@media screen and (max-width: 1100px) {
  .connection, .connection_good {
    width: 12vmin;
    height: 7vmax;
  }
}
@media screen and (max-width: 820px) {
  .connection, .connection_good {
    width: 13vmin;
    height: 8vmax;
  }
}
@media screen and (max-width: 625px) {
  .connection, .connection_good {
    width: 15vmin;
    height: 10vmax;
  }
}
@media screen and (max-width: 425px) {
  .connection, .connection_good {
    width: 20vmin;
    height: 15vmax;
  }
}