.navigation__logo img {
-o-object-fit: cover;
   object-fit: cover;
   border-radius: 100%;
 
   }
.navigation__logo.active {
 filter: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="waves" x="-30%" y="-30%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">\
        <feTurbulence type="turbulence" baseFrequency="0.05 0.05" numOctaves="1" seed="1" stitchTiles="noStitch" result="turbulence" />\
        <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="40" xChannelSelector="G" yChannelSelector="A" result="displacementMap" />\
      </filter>\
    </svg>#waves')
  ;
}

.navigation__logo-avatar {
width: 97%;
}
.navigation__logo {
  width: 7vw;
  background: none;
  border-radius: 100%;
  cursor: pointer;
  position: sticky;

}
@media screen and (max-width: 767px) {
 .navigation__logo {
 width: 3.5em;

 }
  }
