.scroller {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding: 0.1px; /* Добавь отступы для плавности */
  z-index: 0;
}

        