.formorder__buttonclose {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-right: 2em;
  align-self: flex-end;
  z-index: 1;
  gap: 4px;
  transition: all 0.3s ease;
  position: relative;
}

.formorder__buttonclose__text {
  padding-top: 0;
}

.formorder__buttonclose span {
  margin-top: 1%;
  padding-left: 10px;
}

.formorder__buttonclose:focus,
.formorder__buttonclose:hover {
  color: red;
}

.formorder__buttonclose::before,
.formorder__buttonclose::after {
  content: "";
  position: absolute;
  right: 5px;
  width: 1em;
  height: 2px;
  border-radius: 2px;
  background-color: currentColor;
  transition: transform 0.4s ease;
  top: 50%;
}

.formorder__buttonclose::before {
  transform: translateY(-50%) rotate(45deg);
}

.formorder__buttonclose::after {
  transform: translateY(-50%) rotate(-45deg);
}

.formorder__buttonclose:hover::before {
  transform: translateY(-50%) rotate(-45deg);
}
.formorder__buttonclose:hover::after {
  transform: translateY(-50%) rotate(45deg);
}

.formorder__button__submit {
  align-self: center;
  padding: 6px 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to top, #68b12f, #50911e);
  border: 1px solid #509111;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #9fd574;
  text-shadow: 0 -1px 0 #396715;
  transition: all 0.3s ease-in-out;
  margin-top: 5%;
}

.formorder__button__submit:hover {
  opacity: 0.85;
  cursor: pointer;
}

.formorder__button__submit:active {
  border: 1px solid #20911e;
  box-shadow: 0 0 10px 5px #356b0b inset;
}

/* MEDIA QUERIES */
@media all and (max-width: 640px) {
  .formorder__buttonclose::before,
  .formorder__buttonclose::after {
    top: 3.2%;
  }

  .formorder__button__submit {
    margin: 2% auto 0;
  }
}

@media all and (max-width: 420px) {
  .formorder__buttonclose__text {
    padding-top: 3%;
  }
}